/*
Theme Name: Alphalpha
Theme URI: http://jnewc.net/
Description: The first of many themes to come. Simple, clean, easy.
Author: Jack Newcombe
Author URI: http://jnewc.net/
Version: 0.1
Tags: alphalpha, simple, clean, easy

License: Closed source. Copyright (c) Jack Newcombe 2012 - This theme may not be modified or redistributed in any form under any circumstances.
License URI: None


*/

/* FONTKITS */
@import url("styles/fontkit-copse/stylesheet.css");

/* STYLES */
@import url("styles/global.css");
@import url("styles/menu.css");
@import url("styles/comment.css");
@import url("styles/widget.css");
@import url("styles/footer.css");


/* OVERRIDES */

.widgettitle {
	font-weight:normal;
}

#searchform label {
	display:none;
}

#searchform input[type='text'] {
	display:block;
	width:98%;
	margin:0 auto;
}

#searchform h2 {
	display:none;
}

.widget_search {
	width:100%;
	margin:0; padding:0;
}

.widget_search .widgettitle {
	display:none;
}

#searchform input[type='submit'] {
	display:none;
}


/* PLUGIN OVERRIDES */

/* Twitter Widget Pro - NOTE: now all li links (looks nicer) */
li a:link {
	border:none !important;
}

.intent-meta {
	display:block;
}
.intent-meta a:link {
	float:none;
	display:inline-block;
	margin:4px 8px;
	font-size:0.8em;
}
