@charset 'UTF-8';

.comment-list {
	margin:12px auto;
	width:720px;
}

.comment {
	
}

/* Inner */

.comment > p {
	margin:0;
	padding-top:8px;
	font-size:0.9em;
	padding-left:4px;
}

.comment-author {
	padding:0; 
	margin:0;
	height:40px;
	width:50%;
	float:left;
}

.comment-author .says { display: none; }

.comment-author .fn {
	float:left;
	display:block !important;
	font-size:0.8em !important;
	font-style:normal;
	padding:12px 2px 6px 2px;
}

.comment > .comment-meta {
	float:left;
	height:40px;
	width:50%;
	padding:0;
	margin:0;

	font-size:0.8em;
	text-align:center;
}
.comment > .comment-meta a {
	margin-top:14px;
	text-align:center;
}

.comment > p {
	clear:both;
}

.comment > .reply {
	padding:8px 8px 8px 4px;
	text-align:right;
}

.comment .photo {
	margin:4px; padding:0;
	width:32px; height: 32px;
	display:block;
	float:left;
}

/*
.comment > .comment-author {
	border-left:solid 1px #1A1A1A;
	padding-left:4px;
}
.comment > .comment-meta {
	border-left:solid 1px #1A1A1A;
	padding-left:4px;
}

.comment > .reply {
	border-left:solid 1px #1A1A1A;
	padding-left:4px;
}
*/

/* Nesting */

.comment:not(.depth-1) { margin-left:16px; margin-right:-16px; }

.even > *:not(.comment) {
	background-color:rgba(255,255,255,0.1);
}
.odd > *:not(.comment) {
	background-color:rgba(255,200,100,0.1);
}

/* Comment form */

.comment-form label {
	display:none;
}

.comment-form #reply-title {
	display:none;
}

.comment-form form {
	text-align:center;
	width:658px;
	margin:12px auto;
}

.comment-form textarea {
	width:640px;
	border-radius:12px;
	border-width:0px;
	padding:8px;
	font-family:Verdana, Tahoma, Arial, sans-serif;
}

.comment-form .reply-title {
	align:right;
	font-variant:small-caps;
}
