
.footer-sidebar-left, .footer-sidebar-right {
	position:relative;
	float:left; 
	width:50%;
	color:#FFF;
	
}

.footer-sidebar .widgettitle {
	color:#FFF;
}

.footer-sidebar li {
	color:#FFF;
}

.footer-sidebar li a {
	display:inline-block;
	border-bottom:dashed 1px;
	max-width:95%;
}

.footer-sidebar .widget-container {
	width:100%;
}