@charset 'UTF-8';

body, html {
	width:100%;height:100%;
}

body {
	/*background-color:#000;*/
	background:url('../images/bg-lines-red.png') repeat;
	font-family:CopseRegular;
}

* {
	color:#161616;
	text-decoration:none;
}


a:link, a:visited, a[href] * { color:rgb(195,86,23); }

hr { border-color:grey; }

p { margin:0 0 3px 0; line-height:1.4em; }

input {
	border:solid 2px #606060;
	background:#606060;
	border-radius:12px;
	color:#FFF;
}

input[type='button'], input[type='submit'] {
	text-align:center;
	font-weight:bold;
	height:36px;
}

input[type='text'] {
	background:#FFF;
	color:#1A1A1A;
	border-radius:4px;
}



.truncate { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:99%; }

/* ---------- Headings ---------- */

.header-title {
	display:inline;
	position:relative;
	top:20px;
	
	font-size:3.0em;
	font-weight:bold;
	line-height:75%;
	
	
	padding:16px;
	
	color:#FFF;
}
.header-title a:visited, .header-title a:link,
.header-title span {
	color:#FFF;
	text-shadow: -2px 2px 0.05em rgb(200,100,0);
}


.header-subtitle {
	font-size:1.8em;
	display:inline-block;
	background:#0F0;
}

/* -------------------- Sidebar -------------------- */



/* -------------------- Content -------------------- */

#main {
	position:relative;
	margin:0 auto;
	width:900px;
	min-height:100%;
	
}

.outer-content {
/*
	background-color:#9A9A9A;
	
	border-radius:16px 16px 0 0;
*/
	min-height:100%;
}

/* This is only present on the index/home page */
.content-index {
	float:left;
	width:50%;
	border-right:solid 1px grey;
}
/* This is only present on the index/home page */
.sidebar {
	margin-left:-1px;
	float:left;
	width:50%;
}

.content {
	/*background-color:#FFF;*/
	background-image:-webkit-gradient(
		linear,	left top, right top,
		from(rgba(255,255,255,0.8)), 
		to(rgba(255,255,255,0.6))
	);
	/*border-radius:16px 16px 0 0;*/
	min-height:100%;
}
	.content a:link {
		display:inline-block;
		border-bottom:dashed 1px;
	}
	.content a[href]:hover {
		border-bottom-style:solid;
	}

.section-header {
	font-size:1.4em;
	font-weight:bold;
	text-align:right;
}

/* ---------- Post ---------- */

.post {
	/*margin:12px;*/
	padding:12px;
}
	.post-navlinks {
		text-align:center;
		font-size:0.8em;
	}
	.post-title {
		font-size:1.8em;
		padding:12px 0;
	}
	.post-title-single {
		text-align:right;
		font-size:2.8em;
	}
	.post-subtitle {
		font-size:0.8em;
		text-align:right;
		/*font-weight:bold;*/
	}
	.post-content {
	}
	.post-readmore {
		font-size:0.8em;
	}
	.post-time {
		font-style:italic;
		margin:4px;padding:0;
	}