@charset 'UTF-8';


.navmenu {
	display:inline;
	padding-top:6px;
	padding-bottom:6px;
	text-align:right;
	background-color:#0F0;
}

.navmenu ul {
	list-style-type:none;
	list-style-image:none;
	
	margin:0;
	padding:0;
}

.navmenu li {
	display:inline-block;
	padding:0 12px;
}

.navmenu a {
	color:#FFF;
	-webkit-transition:color 1.0s linear;
}

.navmenu a:link, .navmenu a:visited {
	font-variant:small-caps;
	font-weight:bold;
}

.navmenu a:hover {
	color:#F80;
}